.header__inner {
    margin: 0 auto;
    max-width: 1250px;
    border-bottom: 1px solid #E0DFDE;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-left: 480px;
}

.header__logo h1 {
    font-family: Inika;
    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

.header-logout__button {
    color: #D9C6B5;
    text-decoration: none;
}

.header-logout__button {
    font-family: Inika;
    font-size: 20px;
    margin-right: 100px;
    padding: 5px;
    width: 100px;
    height: 35px;
    border: 1px solid #D9C6B5;
    background: #F0F0F0;
    cursor: pointer;
}

.admin__content {
    margin: 0 auto;
    padding: 15px;
    max-width: 1250px;
}

.admin__heading h2 {
    font-family: Inika;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    color: #8B7969;
    margin-bottom: 20px;
    text-align: center;
}

.search-form__group {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form__inner {
    width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form__item-input {
    width: 350px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #BEB1A6;
    font-family: Inika;
    border: 1px solid #E3DED9;
}

.search-form__item-gender {
    width: 110px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #BEB1A6;
    font-family: Inika;
    background: #F4F4F4;
    border: 1px solid #E3DED9;
}

.search-form__item-category {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #BEB1A6;
    font-family: Inika;
    background: #F4F4F4;
    border: 1px solid #E3DED9;
}

.search-date {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #BEB1A6;
    font-family: Inika;
    background: #F4F4F4;
    border: 1px solid #E3DED9;
}

.search__button-submit {
    padding: 10px;
    width: 110px;
    height: 50px;
    border: none;
    background: #82756A;
    border: 1px solid #8B7969;
    text-align: center;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.reset__button-submit {
    padding: 10px;
    width: 110px;
    height: 50px;
    border: none;
    background: #D9C6B5;
    border: 1px solid #D9C6B5;
    text-align: center;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: Inika;
    color: #fff;
    cursor: pointer;
}
.items {
    width: 1180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


svg.w-5.h-5 {
    width: 20px;
    height: 20px;
}

.export__button-submit {
    margin: 20px 0;
    padding: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background: #E1DBD6;
    border: none;
    font-family: Inika;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #8B7969;
    cursor: pointer;
}

.admin__table {
    margin: 0px auto;
    width: 1180px;
    text-align: center;
}

.admin-table__inner {
    width: 1180px;
}

.admin-table__row {
    border: 1px solid #E0DFDE
}

.admin-table__row th {
    height: 60px;
    text-align: center;
    background-color: #82756A;
    border: 1px solid #82756A;
}

.admin-table__row th:first-child {
    padding-left: 50px;
}

.admin-table__row th span {
    margin-right: 170px;
}

.admin-table__header {
    text-align: center;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.admin-table__row td {
    text-align: left;
}


.admin-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
}

.admin-form__item:last-child {
    margin-left: 100px;
}


.admin-form__item-p {
    margin-right: 50px;
    width: 170px;
    text-align: left;
    border: none;
    font-family: Inika;
    font-size: 15px;
    font-weight: 400px;
    line-height: 20px;
    color: #8B7969;
}

.admin-form__item-categoryp {
    margin-left: 100px;
    width: 200px;
    text-align: left;
    font-family: Inika;
    font-size: 15px;
    font-weight: 400px;
    line-height: 20px;
    color: #8B7969;
}

.modal__button-submit {
    margin-left: 60px;
    padding: 10px;
    width: 80px;
    height: 40px;
    border: none;
    background: #F4F4F4;
    border: 1px solid #D9C6B5;
    font-family: Inika;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #D9C6B5;
    cursor: pointer;
}

.modal__link {
    color: #D9C6B5;
    text-decoration: none;
}


/*---ここからmodalレイアウト---*/

.message-box {
    margin: 0px auto;
    width: 800px;
}

.modal-table__inner {
    width: 800px;
}

.modal-table__row {
    margin: 80px 50px;
    display: flex;
    align-items: center;

}

.modal-table__row th,
.modal-table__row td {
    text-align: left;
    width: 50%; /* 幅を50%ずつに分割 */
    padding: 10px;
    box-sizing: border-box;/

}

.modal-table__header {
    padding-bottom: 10px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 700px;
    line-height: 26px;
    color: #8B7969
}

.modal-form__item-p {
    padding-bottom: 10px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
    color: #8B7969
}

.delete-form__button {
    text-align: center;
}

.delete-form__button-submit {
    padding: 5px;
    width: 75px;
    height: 40px;
    border: none;
    background: #BA370D;
    color: #fff;
    cursor: pointer;
}


/*1. デオフォルト非表示にする*/
#modal {
    display: none;
}


/*2. 内部リンククリックで適用する*/
#modal:target {
    width: 80%;
    position: absolute;
    top: 250px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*3. メッセージBOX（テキスト部）*/
#modal .message-box {
    position: relative;
    background-color: #fff;
    border: 1px solid #8B7969;
    padding: 20px;
    height: 860px;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.5);;
    cursor: pointer;
}

/*4. 閉じる領域のためのアンカー*/
#modal .close {
    position: relative;
    display: block;
}

/*5. 閉じるボタン*/
#modal .close::after {
    content: "x";
    color: #8B7969;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid #8B7969;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}